.entity{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 1px solid rgb(84, 77, 77);
    border-radius: 0.5rem;
    background-color:rgba(124, 229, 223, 0.774);
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

img{
    border-radius: 50%;
    border: 2px solid black;
    height: 150px;
    width: auto;

}

.right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;

    padding: 4px;
}

.box{
    width: 300px;
    padding: 1px 3px;
    font-size: 14px;
    border: 1px solid rgb(2, 106, 101);
    border-radius: 3px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box:hover{
    background-color: rgba(11, 251, 239, 0.374); 
}

span{
    font-weight: 400;
    font-size: 14px;
}

button{
    height: 40px;
    width: 100px;
    background-color: rgba(124, 229, 223, 0.774);
    border: 1px solid rgba(128, 128, 128, 0.216);
    border-radius: 0.5rem;
    margin: 10px 0;
}

button:hover{
    background-color:  rgba(51, 50, 50, 0.074);
    cursor: pointer;
}





