<div class="main">
    <div class="top">
        <button type="submit" (click)="getrepos()" >View Repos</button>
        <span> {{currentPage}}</span>
    </div>
    <div class="repos">
        <div class="repo"  *ngFor="let repo of repositories">
            <h2>{{ repo.name }}</h2>
            <p>{{ repo.description }}</p>
            <span>{{repo.url}}</span>
            <h4>{{repo.language}}</h4>
            <!-- Display other repository details as needed -->
          </div>
    </div>
    <div class="bottom">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <button (click)="nextPage()">Next</button>
    </div>
</div>
